.nav{
    background-color: #2e518e;
    color: white;
}

.age-input{
    width: 100px;
}

.age-input1{
    width: 150px;
}

.age-input2{
    width: 70px;
}

.button{
    background-color: #f3bb28;
}

.button:hover{
    background-color: #f3da9b;
}

.chart{
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

/* .dropdown */

#dropdown{
    display: none;
    width: 150px;
    padding: 5px;
}

.dropbtn {
    background-color: #2e518e;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    border-radius: 5px;
    padding-bottom: 50px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content a:hover {
    background-color: #f3bb28;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* <div class="card-footer">
  <div class="form-group p-4">
      <h2 id="CapitalRecovery"></h2>
  </div>
  
  <div class="form-group p-4"></div>
      <h2 id="MonthlyCR"></h2>
  </div>

  <div class="dropdown" id="dropdown">
      <button class="dropbtn">
        Recovery Plan
      </button>
      <div class="dropdown-content">
        <a class="">yearly</a>
        <a class="">quarterly</a>
        <a class="CR_monthly">monthly</a>
        <a class="">daily</a>
      </div>
  </div>

  <div class="">
      <h2 id="FundingGap"></h2>
  </div> */