.nav{
    background-color: mediumblue;
    color: white;

}

.age-input{
    width: 100px;
}

.age-input1{
    width: 150px;
}

.age-input2{
    width: 70px;
}

.chart{
    width: 100%;
    height: 400px;
    padding-top: 50px;
}